# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Environment variables and secrets
.env

# VS Code local settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build/dist files
build/
dist/
*.egg-info/

*.db
uptime.db